Aplicacion_Caja_Hospital/Connected Services/SN/Pacientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertarPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fechanacimiento" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deuda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarPacientesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pacientecaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idpaciente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pacientecajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pacientecajaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginPacientecaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Paciente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginPacientecajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginPacientecajaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarPaciente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pacientes" type="tns:Paciente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Paciente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPaciente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorCodigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Deuda" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Activo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRegistro" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistrarPacienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrarPacienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AumentarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescripcionProcedimiento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="aumentar" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AumentarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AumentarCuentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagarCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocumentoIdentidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescripcionProcedimiento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pagar" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PagarCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PagarCuentaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertarPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarPacientes" />
  </wsdl:message>
  <wsdl:message name="InsertarPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="pacientecajaSoapIn">
    <wsdl:part name="parameters" element="tns:pacientecaja" />
  </wsdl:message>
  <wsdl:message name="pacientecajaSoapOut">
    <wsdl:part name="parameters" element="tns:pacientecajaResponse" />
  </wsdl:message>
  <wsdl:message name="loginPacientecajaSoapIn">
    <wsdl:part name="parameters" element="tns:loginPacientecaja" />
  </wsdl:message>
  <wsdl:message name="loginPacientecajaSoapOut">
    <wsdl:part name="parameters" element="tns:loginPacientecajaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarPacienteSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarPaciente" />
  </wsdl:message>
  <wsdl:message name="RegistrarPacienteSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="AumentarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:AumentarCuenta" />
  </wsdl:message>
  <wsdl:message name="AumentarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:AumentarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="PagarCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:PagarCuenta" />
  </wsdl:message>
  <wsdl:message name="PagarCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:PagarCuentaResponse" />
  </wsdl:message>
  <wsdl:portType name="PacientesSoap">
    <wsdl:operation name="InsertarPacientes">
      <wsdl:input message="tns:InsertarPacientesSoapIn" />
      <wsdl:output message="tns:InsertarPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="pacientecaja">
      <wsdl:input message="tns:pacientecajaSoapIn" />
      <wsdl:output message="tns:pacientecajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginPacientecaja">
      <wsdl:input message="tns:loginPacientecajaSoapIn" />
      <wsdl:output message="tns:loginPacientecajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPaciente">
      <wsdl:input message="tns:RegistrarPacienteSoapIn" />
      <wsdl:output message="tns:RegistrarPacienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AumentarCuenta">
      <wsdl:input message="tns:AumentarCuentaSoapIn" />
      <wsdl:output message="tns:AumentarCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PagarCuenta">
      <wsdl:input message="tns:PagarCuentaSoapIn" />
      <wsdl:output message="tns:PagarCuentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PacientesSoap" type="tns:PacientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPacientes">
      <soap:operation soapAction="http://tempuri.org/InsertarPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pacientecaja">
      <soap:operation soapAction="http://tempuri.org/pacientecaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPacientecaja">
      <soap:operation soapAction="http://tempuri.org/loginPacientecaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPaciente">
      <soap:operation soapAction="http://tempuri.org/RegistrarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AumentarCuenta">
      <soap:operation soapAction="http://tempuri.org/AumentarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarCuenta">
      <soap:operation soapAction="http://tempuri.org/PagarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PacientesSoap12" type="tns:PacientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPacientes">
      <soap12:operation soapAction="http://tempuri.org/InsertarPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pacientecaja">
      <soap12:operation soapAction="http://tempuri.org/pacientecaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginPacientecaja">
      <soap12:operation soapAction="http://tempuri.org/loginPacientecaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPaciente">
      <soap12:operation soapAction="http://tempuri.org/RegistrarPaciente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AumentarCuenta">
      <soap12:operation soapAction="http://tempuri.org/AumentarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PagarCuenta">
      <soap12:operation soapAction="http://tempuri.org/PagarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pacientes">
    <wsdl:port name="PacientesSoap" binding="tns:PacientesSoap">
      <soap:address location="https://localhost:44394/Servicios/Pacientes.asmx" />
    </wsdl:port>
    <wsdl:port name="PacientesSoap12" binding="tns:PacientesSoap12">
      <soap12:address location="https://localhost:44394/Servicios/Pacientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>